* {
  box-sizing: border-box;
}

body {
  font-family: Source Sans Pro;
  margin: 0;
  font-size: 1rem; /* this is the default anyway */
  color: #404040;
  text-align: center;
}

img {
  width: 50%;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  background-image: url(../images/tcicg_ep_cover.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}
