/* GLOBAL */

* {
  box-sizing: border-box;
}

body {
  font-family: Prompt, sans-serif;
  margin: 0;
  font-size: 1rem; /* this is the default anyway */
  color: #404040;
  text-align: center;
  background: black;
  overflow-x: hidden;
}

/* TYPOGRAPHY */

h2 {
  margin: 0;
}

/* LAYOUT */

/* ALBUM COVER */

#album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  color: white;
  padding-bottom: 1rem;
}

#album::before {
  content: '';
  opacity: 0.5;
  background-image: url(../images/tcicg_ep_cover.jpg);
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transform: scale(1.1);
}

#img-wrapper {
  margin: 4rem auto 0;
  width: 70%;
}

#album-cover-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: auto;
  order: 0;
  align-self: center;
  justify-self: center;
}

#band-name {
  order: 1;
  font-size: 1.25em;
  font-weight: 400;
  max-width: 80%;
}

#album-name {
  order: 2;
  font-size: 1em;
  font-weight: 700;
  max-width: 80%;
}

/* SIGN UP FORM */

#sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7eaf8 80%;

  padding: 1em 0;
}

#sign-up-form > h2,
p {
  font-size: 1.25em;
  color: #383f51;
  font-weight: 500;
  width: 80%;
  max-width: 400px;
}

#sign-up-form > p {
  font-weight: 400;
  margin-bottom: 1.125em;
  line-height: 24px;
}

.email-collector {
  width: 70%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid #383f51;
  font-size: 1.25em;
  font-family: inherit;
}

input:focus::placeholder {
  color: transparent;
}

#Email-Collector .btn {
  font-family: inherit;
  font-size: 1.25em;
  border: none;
  border-radius: 5px;
  background: rgba(62, 18, 80, 0.2);
  padding: 0.375rem;
  cursor: pointer;
  transition: ease 500ms;
  color: #383f51;
}
#Email-Collector:valid .btn {
  background: #3e1250;
  color: #fff;
}

label {
  text-align: left;
  padding: 0;
  margin: 0 0 0.5rem;
  color: #8e8e8e;
  font-size: 0.75rem;
  padding-left: 0.25rem;
}

label:empty::before {
  content: '';
  padding: inherit;
}

#sign-up-success {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7eaf8 80%;
  padding: 1em 0;
  min-height: 50vh;
}

/* COOKIES */

#cookie-container {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#cookie-modal {
  display: flex;
  width: 100%;
  margin: auto;
  max-width: 400px;
  min-height: 4.5rem;
  max-height: 8rem;
  align-items: center;
}

#cookie-text {
  width: 50%;
  text-align: left;
  padding: 1rem;
}

#cookie-btns {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.25em;
}

.cookie-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 2rem;
  width: 5rem;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: inherit;
}

#accept-btn {
  background-color: #484dba;
  color: #fff;
}

#manage-btn {
  background-color: #f98f21;
  color: #383f51;
}

/* MEDIA QUERY */
@media (min-width: 500px) {
  #container {
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
  }

  #album,
  #sign-up-form,
  #sign-up-success {
    width: 50%;
    min-height: 100vh; /* min-height will prevent things falling off the bottom */
  }

  #sign-up-form,
  #sing-up-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
